/* 首页文章卡片 */
#recent-posts > .recent-post-item{
  /* background:rgba(255, 255, 255, 0.9); */
  opacity: 0.8;
}
/* 首页侧栏卡片 */
.card-widget{
  background:rgba(17, 17, 17, 0.9);
  opacity: 0.7;
}
/* 文章页面正文背景 */
div#post{
  color:rgb(14, 14, 15)
}
/* 分页页面 */
div#page{
  opacity: 0.9;
}
/* 归档页面 */
div#archive{
  opacity: 0.9;
}
/* 标签页面 */
div#tag{
  opacity: 0.9;
}
/* 分类页面 */
div#category{
  opacity: 0.9;
}
/* 页脚透明 */
#footer{
    /* background: transparent!important; */
    opacity: 0.4;
    color:rgb(255,255,255)
  }
  /* 头图透明 */
  #page-header{
    /* background: transparent!important; */
    opacity: 0.9
  }
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
  #page-header.post-bg:before {
    background-color: transparent!important;
  }
  #aside{
    background: rgba(56, 40, 40, 0.082);
  }
  /* 夜间主题修改 */
  [data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.5)!important;
    }
  [data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    }
  /* 阿里Icon */
  @import url("//at.alicdn.com/t/font_8d5l8fzk5b87iudi.css");
    @font-face {
      font-family: "iconfont"; /* Project id 2525071 */
      src: url('iconfont.woff2?t=1620018278804') format('woff2'),
           url('iconfont.woff?t=1620018278804') format('woff'),
           url('iconfont.ttf?t=1620018278804') format('truetype');
    }
    
    .iconfont {
      font-family: "iconfont" !important;
      font-size: 16px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    .icon-liebiaodaohang_gongyi:before {
      content: "\e639";
    }
    
    .icon-daohang-shoukuanxinxi:before {
      content: "\e60b";
    }
    
    .icon-gonggao:before {
      content: "\e61d";
    }
    
    .icon-ditudaohang:before {
      content: "\e62b";
    }
    
    .icon-xiaoyuandaohang:before {
      content: "\e633";
    }
    
    .icon-gonggao1:before {
      content: "\e64e";
    }
    
    .icon-277:before {
      content: "\e742";
    }
    
    .icon-jiashicang:before {
      content: "\e6f8";
    }
    
    .icon-lixiangshenqing:before {
      content: "\e6f9";
    }
    
    .icon-mubiao:before {
      content: "\e6fa";
    }
    
    .icon-anpaihuiyi:before {
      content: "\e700";
    }
    
    .icon-Steering_Wheel:before {
      content: "\e62d";
    }
    
    .icon-baobiao:before {
      content: "\e6fe";
    }
    
    .icon-Electric_Car_Charging_Station:before {
      content: "\e62a";
    }
    
    